<!-- Start Quote Area -->
<section class="quote-area ptb-100" id="devis">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="quote-content">
                    <h2>Obtenez un dévis gratuitement</h2>
                    <p>Vous souhaitez souscrire à une assurance et vous désirez avoir un devis ? Remplissez le formulaire qui correspond au type d'assurance que vous voulez et nous vous contacterons dans les plus brefs délais.</p>

                    <div class="image">
                        <img src="/assets/img/img1.png" alt="image" width="65%">
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="tab quote-list-tab">
                    <ul class="tabs">
                        <li><a href="#">Habitation</a></li>
                        <li><a href="#">Voyage</a></li>
                        <li><a href="#">Santé</a></li>
                        <li><a href="#">Auto-moto</a></li>
                        <li><a href="#">Individuelle</a></li>
                        <li><a href="#">Professionnelle</a></li>
                    </ul>

                    <div class="tab_content">
                        <div class="tabs_item">
                            <p>Nos experts vous répondront dans les plus brefs délais.</p>
                            <br>
                            <h3> <%= infoMessage %> </h3>
                        </div>

                        <div class="tabs_item">
                            <p>Nos experts vous répondront dans les plus brefs délais.</p>
                            <form action="/" method="POST">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="username" placeholder="Votre Nom" required>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" placeholder="Votre Email" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="phone" placeholder="Votre Téléphone">
                                </div>
                                <div class="form-group">
                                    <select name="type" required>
                                        <option value="Assurance santé">Assurance santé</option>
                                        <option value="Assurance Multirisques Habitation">Assurance Multirisques Habitaion</option>
                                        <option value="Assurance Individuelle Accident">Assurance Individuelle Accident</option>
                                        <option selected value="Assurance Voyage">Assurance Voyage</option>
                                        <option value="Assurance Auto-moto">Assurance Auto-moto</option>
                                        <option value="Assurance Professionnelle">Assurance Professionnelle</option>
                                    </select>
                                </div>
                                <button type="submit" class="default-btn">Obtenir un devis gratuitement <span></span></button>
                            </form>
                            <br>
                            <h3> <%= infoMessage %> </h3>
                        </div>

                        <div class="tabs_item">
                            <p>Nos experts vous répondront dans les plus brefs délais.</p>
                            <form action="/" method="POST">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="username" placeholder="Votre Nom" required>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" placeholder="Votre Email" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="phone" placeholder="Votre Téléphone">
                                </div>
                                <div class="form-group">
                                    <select name="type" required>
                                        <option selected value="Assurance santé">Assurance santé</option>
                                        <option value="Assurance Multirisques Habitation">Assurance Multirisques Habitaion</option>
                                        <option value="Assurance Individuelle Accident">Assurance Individuelle Accident</option>
                                        <option value="Assurance Voyage">Assurance Voyage</option>
                                        <option value="Assurance Auto-moto">Assurance Auto-moto</option>
                                        <option value="Assurance Professionnelle">Assurance Professionnelle</option>
                                    </select>
                                </div>
                                <button type="submit" class="default-btn">Obtenir un devis gratuitement <span></span></button>
                            </form>
                            <br>
                            <h3> <%= infoMessage %> </h3>
                        </div>

                        <div class="tabs_item">
                            <p>Nos experts vous répondront dans les plus brefs délais.</p>
                            <form action="/" method="POST">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="username" placeholder="Votre Nom" required>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" placeholder="Votre Email" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="phone" placeholder="Votre Téléphone">
                                </div>
                                <div class="form-group">
                                    <select name="type" required>
                                        <option value="Assurance santé">Assurance santé</option>
                                        <option value="Assurance Multirisques Habitation">Assurance Multirisques Habitaion</option>
                                        <option value="Assurance Individuelle Accident">Assurance Individuelle Accident</option>
                                        <option value="Assurance Voyage">Assurance Voyage</option>
                                        <option selected value="Assurance Auto-moto">Assurance Auto-moto</option>
                                        <option value="Assurance Professionnelle">Assurance Professionnelle</option>
                                    </select>
                                </div>
                                <button type="submit" class="default-btn">Obtenir un devis gratuitement <span></span></button>
                            </form>
                            <br>
                            <h3> <%= infoMessage %> </h3>
                        </div>

                        <div class="tabs_item">
                            <p>Nos experts vous répondront dans les plus brefs délais.</p>
                            <form action="/" method="POST">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="username" placeholder="Votre Nom" required>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" placeholder="Votre Email" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="phone" placeholder="Votre Téléphone">
                                </div>
                                <div class="form-group">
                                    <select name="type" required>
                                        <option value="Assurance santé">Assurance santé</option>
                                        <option value="Assurance Multirisques Habitation">Assurance Multirisques Habitation</option>
                                        <option selected value="Assurance Individuelle Accident">Assurance Individuelle Accident</option>
                                        <option value="Assurance Voyage">Assurance Voyage</option>
                                        <option value="Assurance Auto-moto">Assurance Auto-moto</option>
                                        <option value="Assurance Professionnelle">Assurance Professionnelle</option>
                                    </select>
                                </div>
                                <button type="submit" class="default-btn">Obtenir un devis gratuitement <span></span></button>
                            </form>
                            <br>
                            <h3> <%= infoMessage %> </h3>
                        </div>

                        <div class="tabs_item">
                            <p>Nos experts vous répondront dans les plus brefs délais.</p>
                            <form action="/" method="POST">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="username" placeholder="Votre Nom" required>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" placeholder="Votre Email" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="phone" placeholder="Votre Téléphone">
                                </div>
                                <div class="form-group">
                                    <select name="type" required>
                                        <option value="Assurance santé">Assurance santé</option>
                                        <option value="Assurance Multirisques Habitation">Assurance Multirisques Habitaion</option>
                                        <option value="Assurance Individuelle Accident">Assurance Individuelle Accident</option>
                                        <option value="Assurance Voyage">Assurance Voyage</option>
                                        <option value="Assurance Auto-moto">Assurance Auto-moto</option>
                                        <option selected value="Assurance Professionnelle">Assurance Professionnelle</option>
                                    </select>
                                </div>
                                <button type="submit" class="default-btn">Obtenir un devis gratuitement <span></span></button>
                            </form>
                            <br>
                            <h3> <%= infoMessage %> </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Quote Area -->