<%- include('partials/header') %>

        <!-- Start Main Banner Area -->
        <div class="home-area home-slides owl-carousel owl-theme">
            <div class="main-banner item-bg1">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="main-banner-content">
                                <span class="sub-title">Avec SMS ASSURANCES</span>
                                <h1>Votre entreprise est sereine et pérenne</h1>
                                <p>La Multirisque professionnelle accompagnz votre entreprise dans son évolution en la couvrant comme il faut en cas de sinistre.</p>

                                <div class="btn-box">
                                    <a href="#devis" class="default-btn">Obtenir un devis <span></span></a>
                                    <a href="/contact" class="optional-btn">Contactez-nous <span></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main-banner item-bg2">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="main-banner-content">
                                <span class="sub-title">AVEC SMS ASSURANCES</span>
                                <h1>Conduisez avec joie, sérénité et sécurité</h1>
                                <p>Parce que vous devez au maximum éviter de stresser, nous vous laissons vous concentrer sur la route et nous nous chargeons du reste.</p>

                                <div class="btn-box">
                                    <a href="#devis" class="default-btn">Obtenir un devis <span></span></a>
                                    <a href="/contact" class="optional-btn">Contactez-nous <span></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main-banner item-bg5">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="main-banner-content">
                                <span class="sub-title">Avec SMS ASSURANCES</span>
                                <h1>Profitez de chaque étape de votre vie</h1>
                                <p>Chaque étape de votre vie est unique c'est pourquoi nous contribuons à l'embellir avec des assurances pour toute votre famille.</p>

                                <div class="btn-box">
                                    <a href="#devis" class="default-btn">Obtenir un devis <span></span></a>
                                    <a href="/contact" class="optional-btn">Contactez-nous <span></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Main Banner Area -->

        <!-- Modal Box -->
        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="myModal" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <button type="button" class="btn" data-toggle="modal" data-target="#exampleModalCenter">
                        <img src="assets/img/welcome.jpg" alt="">
                    </button>
                </div>
            </div>
        </div>        
  
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Obtenez un devis en remplissant le formulaire</h5>
                    <button type="button" class="close btn-danger" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <div style="width: 100%;">
                            <form action="/" method="POST" onsubmit="alert('Votre demande a bien été prise en compte !'); setTimeout('location.href = '/';', 5000)">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="username" placeholder="Votre Nom" required>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" placeholder="Votre Email" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="phone" placeholder="Votre Téléphone">
                                </div>
                                <div class="form-group">
                                    <p>Sélectionnez votre type d'assurance</p>
                                    <select name="type" required>
                                        <option value="Assurance santé">Assurance santé</option>
                                        <option selected value="Assurance Multirisques Habitation">Assurance Multirisque Habitation</option>
                                        <option value="Assurance Individuelle Accident">Assurance Individuelle Accident</option>
                                        <option value="Assurance Voyage">Assurance Voyage</option>
                                        <option value="Assurance Auto-moto">Assurance Auto-moto</option>
                                        <option value="Assurance Multirisque Professionnelle">Assurance Multirisque Professionnelle</option>
                                    </select>
                                </div>
                                <div class="form-group col">
                                    <input type="hidden" class="form-control" name="date" value="<%= currentDate %>">
                                </div>
                                <button type="submit" class="submitBtn default-btn btn-lg">Envoyer votre demande</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Start Services Boxes Area -->
        <section class="services-boxes-area bg-f8f8f8">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-box">
                            <div class="image">
                                <img src="assets/img/featured-services-image/1.jpg" alt="image">
                            </div>

                            <div class="content">
                                <h3><a href="##">Un processus simplifié</a></h3>
                                <p>Simple, sécurisé et sans prise de tête, un processus très optimisé</p>
                                <div class="icon">
                                    <img src="assets/img/icon1.png" alt="image">
                                </div>
                                <div class="shape">
                                    <img src="assets/img/umbrella.png" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-box">
                            <div class="image">
                                <img src="assets/img/featured-services-image/2.jpg" alt="image">
                            </div>

                            <div class="content">
                                <h3><a href="##">Les prix les plus bas</a></h3>
                                <p>Si vous trouvez moins cher ailleurs, nous vous remboursons le double</p>
                                <div class="icon">
                                    <img src="assets/img/icon2.png" alt="image">
                                </div>
                                <div class="shape">
                                    <img src="assets/img/umbrella.png" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3">
                        <div class="single-box">
                            <div class="image">
                                <img src="assets/img/featured-services-image/3.jpg" alt="image">
                            </div>

                            <div class="content">
                                <h3><a href="##">Satisfaction garantie</a></h3>
                                Nore but essentiel est la satisfaction de tous nos clients
                                <div class="icon">
                                    <img src="assets/img/icon3.png" alt="image">
                                </div>
                                <div class="shape">
                                    <img src="assets/img/umbrella.png" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Services Boxes Area -->

        <!-- Start About Area -->
        <section class="about-area ptb-100 bg-f8f8f8">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="about-title">
                            <span>A propos de nous</span>
                            <h2>L'Agent Général de GNA à Marcory</h2>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="about-text">
                            <p>Notre mission principale est de vous délivrer l'assurance adéquate qui répond parfaitement à vos besoins dans les plus brefs délais.</p>

                            <a href="/about" class="read-more-btn">En savoir plus <i class="flaticon-right-chevron"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About Area -->

        <!-- Start Services Area -->
        <section class="services-area bg-f8f8f8 pb-70">
            <div class="container">
                <div class="services-slides owl-carousel owl-theme">
                    <div class="single-services-box">
                        <div class="icon">
                            <i class="flaticon-home-insurance"></i>

                            <div class="icon-bg">
                                <img src="assets/img/icon-bg1.png" alt="image">
                                <img src="assets/img/icon-bg2.png" alt="image">
                            </div>
                        </div>

                        <h3><a href="/habitation">Multirisque habitation</a></h3>

                        <p>Nous apportons des solutions concrètes pour vous permettre d'assurer votre logement en cas de sinistre.</p>

                        <a href="/habitation" class="read-more-btn">En savoir plus</a>

                        <div class="box-shape">
                            <img src="assets/img/box-shape1.png" alt="image">
                            <img src="assets/img/box-shape2.png" alt="image">
                        </div>
                    </div>

                    <div class="single-services-box">
                        <div class="icon">
                            <i class="flaticon-health-insurance"></i>

                            <div class="icon-bg">
                                <img src="assets/img/icon-bg1.png" alt="image">
                                <img src="assets/img/icon-bg2.png" alt="image">
                            </div>
                        </div>

                        <h3><a href="/health">Santé</a></h3>

                        <p>Votre santé est la chose la plus importante. Nous travaillons durement à la préserver.</p>

                        <a href="/health" class="read-more-btn">En savoir plus</a>

                        <div class="box-shape">
                            <img src="assets/img/box-shape1.png" alt="image">
                            <img src="assets/img/box-shape2.png" alt="image">
                        </div>
                    </div>

                    <div class="single-services-box">
                        <div class="icon">
                            <i class="flaticon-travel-insurance"></i>

                            <div class="icon-bg">
                                <img src="assets/img/icon-bg1.png" alt="image">
                                <img src="assets/img/icon-bg2.png" alt="image">
                            </div>
                        </div>

                        <h3><a href="/travel">Voyage</a></h3>

                        <p>Des avantages exceptionnels qui vous accompagnent pendant vos différents voyages.</p>

                        <a href="/travel" class="read-more-btn">En savoir plus</a>
                    </div>

                    <div class="single-services-box">
                        <div class="icon">
                            <i class="flaticon-car-insurance"></i>

                            <div class="icon-bg">
                                <img src="assets/img/icon-bg1.png" alt="image">
                                <img src="assets/img/icon-bg2.png" alt="image">
                            </div>
                        </div>

                        <h3><a href="/car">Auto-moto</a></h3>

                        <p>Conduisez sereinement et tranquillement votre véhicule, nous nous chargeons d'assurer tout le reste.</p>

                        <a href="/car" class="read-more-btn">En savoir plus</a>

                        <div class="box-shape">
                            <img src="assets/img/box-shape1.png" alt="image">
                            <img src="assets/img/box-shape2.png" alt="image">
                        </div>
                    </div>

                    <div class="single-services-box">
                        <div class="icon">
                            <i class="flaticon-life-insurance"></i>

                            <div class="icon-bg">
                                <img src="assets/img/icon-bg1.png" alt="image">
                                <img src="assets/img/icon-bg2.png" alt="image">
                            </div>
                        </div>

                        <h3><a href="/life">Individuelle accident</a></h3>

                        <p>En cas d'accident dans votre routine quotidienne, nous vous assistons et nous vous indemnisons.</p>

                        <a href="/life" class="read-more-btn">En savoir plus</a>

                        <div class="box-shape">
                            <img src="assets/img/box-shape1.png" alt="image">
                            <img src="assets/img/box-shape2.png" alt="image">
                        </div>
                    </div>
                    <div class="single-services-box">
                        <div class="icon">
                            <i class="flaticon-insurance"></i>

                            <div class="icon-bg">
                                <img src="assets/img/icon-bg1.png" alt="image">
                                <img src="assets/img/icon-bg2.png" alt="image">
                            </div>
                        </div>

                        <h3><a href="/pro">MRP</a></h3>

                        <p>Nous mettons tout en oeuvre pour vous fournir l'assurance qu'il faut en cas d'incident professionnel.</p>

                        <a href="/pro" class="read-more-btn">En savoir plus</a>

                        <div class="box-shape">
                            <img src="assets/img/box-shape1.png" alt="image">
                            <img src="assets/img/box-shape2.png" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Services Area -->

        <%- include('partials/partners') %>

        <%- include('partials/whychoose') %>

        <%- include('partials/quote') %>

        <!-- Start CTR Area -->
        <section class="ctr-area">
            <div class="container">
                <div class="ctr-content">
                    <h2>Des assurances pour vous et votre famille</h2>
                    <p>Aux meilleurs prix et meilleurs avantages.</p>
                    <a href="#devis" class="default-btn">Comparer maintenant <i class="flaticon-right-chevron"></i><span></span></a>
                </div>

                <div class="ctr-image">
                    <img src="assets/img/ctr-img.jpg" alt="image">
                </div>

                <div class="shape">
                    <img src="assets/img/bg-dot3.png" alt="image">
                </div>
            </div>
        </section>
        <!-- End CTR Area -->

        <!-- Start Blog Area -->
        <section class="quote-area ptb-100 pb-0 mtb-14">
            <div class="container">
                <div class="section-title">
                    <span class="sub-title">Police d'assurances</span>
                    <h2>CIA BY GNA ASSURANCES</h2>
                </div>

                <div class="row d-flex justify-content-center">
                    <video width="1000" height="535" controls>
                        <source src="/assets/video/cia.mp4" type="video/mp4">
                        <source src="/assets/video/cia.ogg" type="video/ogg">
                      Mettez à jour votre navigateur pour lire la vidéo.
                    </video>
                </div>
            </div>
        </section>

         <!-- Start Feedback Area -->
         <section class="feedback-area ptb-100 mt-5">
            <div class="container">
                <div class="section-title">
                    <h2>Conseils d'assureur</h2>
                </div>

                <div class="feedback-slides">
					<div class="client-feedback">
						<div>
							<div class="item">
								<div class="single-feedback">
									<p>Ayez un système optimisé de gestion de l'alimentation électrique pour votre maison afin d'éviter les risques de surtension ou surcharge électrique, surtout en période de pluie.</p>
								</div>
							</div>
							
							<div class="item">
								<div class="single-feedback">
									<p>Au quotidien, évitez de vous improviser électricien, mécanicien ou autre, sauf si vous vous y connaissez et faites appel à des professionnels pour vos travaux.</p>
								</div>
							</div>
							
							<div class="item">
								<div class="single-feedback">
									<p>Lorsque vous êtes à moto, portez toujours un casque et les équipements de protection qui vont avec et soyez toujours prudents sur les routes.</p>
								</div>
							</div>
							
							<div class="item">
								<div class="single-feedback">
									<p>Lorsque vous voyagez, assurez-vous que vous avez les documents administratifs nécessaires, et vérifiez vos affaires pour ne pas transporter des objets illicites.</p>
								</div>
							</div>
							
							<div class="item">
								<div class="single-feedback">
									<p>Faites regulièrement votre bilan de santé et appliquez les bonnes pratiques hygiéniques pour toujours rester en pleine forme : sport, relaxation, alimentation saine...</p>
								</div>
							</div>
							
							<div class="item">
								<div class="single-feedback">
									<p>Pour les transports de vos marchandises, traitez toujours avec des professionnels spécialisés qui sont en règle avec la législation afin d'éviter toute mauvaise situation.</p>
								</div>
							</div>
							
							<div class="item">
								<div class="single-feedback">
									<p>Dans vos cuisines, assurez-vous que les bouteilles de gaz sont bien fermées et contrôlez fermement qui y a accès afin de réduire les risques d'incendies.</p>
								</div>
							</div>
							
							<div class="item">
								<div class="single-feedback">
									<p>Face à la recrudescence des vols par bris de glace, ne laissez jamais paraître dans vos véhicules des objets de valeurs, les ranger dans le coffre.</p>
								</div>
							</div>
                        </div>
                        
                        <button class="prev-arrow slick-arrow">

                        </button>
                        
                        <button class="next-arrow slick-arrow">
                            <i class='flaticon-right-chevron'></i>
                        </button>
                    </div>
                    
                    <div class="client-thumbnails">
						<div>
							<div class="item">
                                <div class="img-fill"><img src="assets/img/client-image/1.jpg" alt="Charge électrique"></div>
                                
                                <div class="title">
                                </div>
							</div>
							
							<div class="item">
								<div class="img-fill"><img src="assets/img/client-image/2.jpg" alt="Répare un moteur de voiture"></div>
                                
                                <div class="title">
                                </div>
                            </div>
                            
                            <div class="item">
								<div class="img-fill"><img src="assets/img/client-image/3.jpg" alt="Casque de moto"></div>
                                
                                <div class="title">
                                </div>
							</div>
							
							<div class="item">
								<div class="img-fill"><img src="assets/img/client-image/4.jpg" alt="Passport"></div>
                                
                                <div class="title">
                                </div>
                            </div>
							
							<div class="item">
								<div class="img-fill"><img src="assets/img/client-image/5.jpg" alt="Femme qui fait du sport"></div>
                                
                                <div class="title">
                                </div>
                            </div>
                            
                            <div class="item">
								<div class="img-fill"><img src="assets/img/client-image/6.jpg" alt="camion de marchandises"></div>
                                
                                <div class="title">
                                </div>
							</div>
							
							<div class="item">
								<div class="img-fill"><img src="assets/img/client-image/7.jpg" alt="bouteille de gaz"></div>
                                
                                <div class="title">
                                </div>
                            </div>
                            
                            <div class="item">
								<div class="img-fill"><img src="assets/img/client-image/8.jpg" alt="Vitre de voiture brisée"></div>
                                
                                <div class="title">
                                </div>
							</div>
						</div>
                    </div>
				</div>
            </div>
        </section>
        <!-- End Feedback Area -->

        <section class="blog-area ptb-100">
            <div class="container">
                <div class="section-title">
                    <span class="sub-title">News</span>
                    <h2>Notre Actualité</h2>
                    <p>SMS Assurances est une agence dynamique qui ne cesse d'innover et travailler durement pour apporter le meilleur service d'assurance à sa clientèle.</p>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-blog-post">
                            <div class="post-image">
                                <a href="assets/img/blog-image/seri.jpg" target="_blank"><img src="assets/img/blog-image/1.jpg" alt="image"></a>
                            </div>

                            <div class="post-content">
                                <h3><a href="#">Ouverture officielle de l'agence SMS Assurances</a></h3>
                                <p>L'Agence SMS Assurances a officiellement ouvert ses portes le 1er Juillet 2020 dans la commune de Marcory.</p> <br>

                                <div class="date"><i class="flaticon-timetable"></i> 01 Juillet 2020</div>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-blog-post">
                            <div class="post-image">
                                <video width="100%" controls>
                                    <source src="/assets/video/car.mp4" type="video/mp4">
                                    <source src="/assets/video/car.ogg" type="video/ogg">
                                    Mettez à jour votre navigateur pour lire la vidéo.
                                </video>
                            </div>

                            <div class="post-content">
                                <h3><a>GNA AUTOBOOST pour vous permettre d'acquérir une voiture neuve</a></h3>
                                <p>GNA AUTOBOOST est un produit qui permet à tout particulier d'acheter sa voiture neuve grâce à un accompagnement financier très avantageux et transparent. Il a été lancé durant le mois de Juillet.</p> <br>

                                <div class="date"><i class="flaticon-timetable"></i> 03 Juillet 2020</div>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-blog-post">
                            <div class="post-image">
                                <a href="assets/img/blog-image/noufala.jpg" target="_blank"><img src="assets/img/blog-image/3.jpg" alt="image"></a>
                            </div>

                            <div class="post-content">
                                <h3><a>Innovation : Assurance Mortalité Bétail</a></h3>
                                <p>Noufala, l'Assurance Mortalité Bétail est une innovation de GNA pour accompagner les propriétaires de troupeaux.</p> <br>

                                <div class="date"><i class="flaticon-timetable"></i> 14 Août 2020</div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Blog Area -->

        <br><br><br><br>
        
<%- include('partials/footer') %>

<script type="text/javascript">
    $(document).ready(function(){
        $("#myModal").modal('show');
    });
</script>