<!DOCTYPE html>
<html lang="fr-FR">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap Min CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- Animate Min CSS -->
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <!-- FontAwesome Min CSS -->
    <link rel="stylesheet" href="/assets/css/fontawesome.min.css">
    <!-- FlatIcon CSS -->
    <link rel="stylesheet" href="/assets/css/flaticon.css">
    <!-- Owl Carousel Min CSS -->
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <!-- Slick Min CSS -->
    <link rel="stylesheet" href="/assets/css/slick.min.css">
    <!-- MeanMenu CSS -->
    <link rel="stylesheet" href="/assets/css/meanmenu.css">
    <!-- Magnific Popup Min CSS -->
    <link rel="stylesheet" href="/assets/css/magnific-popup.min.css">
    <!-- Odometer Min CSS -->
    <link rel="stylesheet" href="/assets/css/odometer.min.css">
    <!-- Nice Select Min CSS -->
    <link rel="stylesheet" href="/assets/css/nice-select.min.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/assets/css/responsive.css">

    <title> Tableau de bord clients </title>

    <link rel="icon" type="image/png" href="/assets/img/favicon.png">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="##">Tableau de bord</a>
        </div>
    </nav>

    <br>
    <br>

    <section class="container-fluid p-4">
        <h3 class="text-center" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;"><i class="fas fa-users"></i> Personnes enregistrées sur le site</h3>

        <br>
        
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col"><i class="fas fa-user"></i> Noms et prénoms</th>
                    <th scope="col"><i class="fas fa-at"></i> Adresses email</th>
                    <th scope="col"><i class="fas fa-phone"></i> Numéros de téléphone</th>
                    <th scope="col"><i class="fas fa-edit"></i> Type d'assurance demandé</th>
                    <th scope="col"><i class="far fa-calendar-alt"></i> Date de la demande</th>
                </tr>
            </thead>
            <tbody>
                <% for (user of users) { %>
                    <tr>
                        <td><%= user.username %></td>
                        <td><%= user.email %></td>
                        <td><%= user.phone %></td>
                        <td><%= user.type %></td>
                        <td><%= user.date %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </section>

    <section class="mt-5">
        <h3 class="text-center" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;"><i class="fas fa-envelope-open-text"></i> Messages laissés par les prospects</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col"><i class="fas fa-user"></i> Noms et prénoms</th>
                    <th scope="col"><i class="fas fa-envelope"></i> Message</th>
                </tr>
            </thead>
            <tbody>
                <% for (user of users) { %>
                    <tr>
                        <td><%= user.username %></td>
                        <td><%= user.message %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>

    </section>

    <footer>
        <!-- jQuery Min JS -->
        <script src="/assets/js/jquery.min.js"></script>
        <!-- Popper Min JS -->
        <script src="/assets/js/popper.min.js"></script>
        <!-- Bootstrap Min JS -->
        <script src="/assets/js/bootstrap.min.js"></script>
        <!-- Parallax Min JS -->
        <script src="/assets/js/parallax.min.js"></script>
        <!-- Owl Carousel Min JS -->
        <script src="/assets/js/owl.carousel.min.js"></script>
        <!-- Slick Min JS -->
        <script src="/assets/js/slick.min.js"></script>
        <!-- MeanMenu JS -->
        <script src="/assets/js/jquery.meanmenu.js"></script>
        <!-- Appear Min JS -->
        <script src="/assets/js/jquery.appear.min.js"></script>
        <!-- Odometer Min JS -->
        <script src="/assets/js/odometer.min.js"></script>
        <!-- Nice Select Min JS -->
        <script src="/assets/js/jquery.nice-select.min.js"></script>
        <!-- Magnific Popup Min JS -->
        <script src="/assets/js/jquery.magnific-popup.min.js"></script>
        <!-- WOW Min JS -->
        <script src="/assets/js/wow.min.js"></script>
        <!-- AjaxChimp Min JS -->
        <script src="/assets/js/jquery.ajaxchimp.min.js"></script>
        <!-- Form Validator Min JS -->
        <script src="/assets/js/form-validator.min.js"></script>
        <!-- Contact Form Min JS -->
        <script src="/assets/js/contact-form-script.js"></script>
        <!-- Main JS -->
        <script src="/assets/js/main.js"></script>
    </footer>

</body>
</html>